/* main section */
#container2 {
    height: 882px;
	background-image: linear-gradient(rgba(30, 18, 4, 0.8), rgba(30, 18, 4, 0.8)), url('../images/meatfire.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

#container2 h2 {
	display: flex;
	justify-content: center;
	padding-top: 250px;
	color: #f2f2f2;
	font-size: 3em;
}

#container2 p {
	display: flex;
	justify-content: center;
	color: #f2f2f2;
	font-weight: 500;
	font-size: 18px;
	margin-top: -20px;
}

#container2 #jelovnik {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

#container2 #jelovnik a {
	text-decoration: none;
	color: #f2f2f2;
	border: 1px solid #bfa38a;
	padding: 20px 20px;
	border-radius: 5px;
	display: inline-block;
	font-weight: 700;
	background-color: #735438c0;
	margin-top: -5px;
}

#container2 #jelovnik a:hover {
	cursor: pointer;
}

@media (max-width: 485px) {
	#container2 h2 {
		font-size: 2em;
		padding-top: 300px;
	}

	#container2 p {
		font-size: 0.75em;
	}

	#container2 #jelovnik {
		margin-top: 20px;
	}

	#container2 #jelovnik a {
		padding: 15px 15px;
		font-size: 0.75em;
	}
}