/* navigation */
section#navigation {
	background-color: #735438;
}

nav {
	background-color:#735438;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav #hamburgerCheckbox {
	display: none;
}

nav .hamburgerButton {
	display: none;
}

nav a#logo {
	text-decoration: none;
	position: relative;
	display: inline-block;
    transition: all 0.3s;
}

#logo img {
	width: 100px;
	padding: 10px 20px;
	margin-top: 20px;
}

nav a#logo:hover {
	transform: scale(1.15);
}

nav #logo > div {
	padding: 0 35px 0 35px;
	font-size: 20px;
	font-weight: 800;
	color: #F2F2F2;
}

nav ul {
	margin: 0;
	padding: 0;
    display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 45px 35px;
	display: inline-block;
	font-size: 16px;
    transition: 0.4s all;
	font-weight: 500;
}

nav ul li a:hover {
	background-color: #fff;
	color: #735438;
}

/* media query */
@media (max-width: 750px) {
	nav {
		display: block;
		position: relative;
		min-height: 85px;
	}

	nav a#logo {
		position: absolute;
		top: -15px;
		left: 0;
	}

	nav #hamburgerCheckbox {
		display: block;
		width: 80px;
		height: 86px;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 1;
	}

	nav #hamburgerCheckbox {
		opacity: 0;
	}

	nav .hamburgerButton {
		display: block;
		width: 80px;
		height: 85px;
		position: absolute;
		top: 0;
		right: 0;
		box-sizing: border-box;
	}

	nav .hamburgerButton .hamburgerLine {
		width: 60%;
		height: 5%;
		background-color: #d9c9ba;
		position: relative;
		top: 50%;
		left: 20%;
		transform: translateY(-50%);
	}

	nav .hamburgerButton .hamburgerLine::before {
		content: "";
		background-color: #d9c9ba;
		width: 100%;
		height: 100%;
		position: absolute;
		top: -10px;
		left: 0;
	}

	nav .hamburgerButton .hamburgerLine::after {
		content: "";
		background-color: #d9c9ba;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 10px;
		left: 0;
	}

	nav ul {
		display: none; /* toggle this to 'block' */
	}

	nav ul li a {
		display: block;
	}

	/* clicked hamburger button */
	nav #hamburgerCheckbox:hover {
		cursor: pointer;
	}

	nav #hamburgerCheckbox:hover ~ .hamburgerButton {
		background-color: #856040;
	}

	nav #hamburgerCheckbox:checked ~ a#logo {
		display: block;
		margin-top: -85px;
	}

	nav #hamburgerCheckbox:checked ~ .hamburgerButton {
		display: block;
		margin-top: -85px;
	}

	nav #hamburgerCheckbox:checked {
		display: block;
		margin-top: -85px;
	}

	nav #hamburgerCheckbox:checked ~ ul {
		display: block;
	}

	nav #hamburgerCheckbox:checked ~ ul#margin {
		display: block;
		margin-top: 85px;
	}

	nav #hamburgerCheckbox:checked ~ ul li a {
		display: flex;
		justify-content: center;
	}

	nav #hamburgerCheckbox:checked ~ .hamburgerButton .hamburgerLine {
		transform: rotate(45deg);
	}

	nav #hamburgerCheckbox:checked ~ .hamburgerButton .hamburgerLine::before {
		top: 0;
		transform: rotate(90deg);
	}

	nav #hamburgerCheckbox:checked ~ .hamburgerButton .hamburgerLine::after {
		display: none;
	}
}